<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            display: flex;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        nav {
            width: 200px;
            background-color: #483d8b;
            color: #fff;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            position: fixed;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        }
        nav a {
            color: #ecf0f1;
            text-decoration: none;
            margin: 10px 0;
            padding: 10px 0;
            width: 100%;
            text-align: center;
            transition: background-color 0.3s;
        }
        nav a:hover {
            background-color: #dda0dd;
        }
        .main-content {
            margin-left: 250px;
            padding: 20px;
            width: calc(100% - 250px);
        }
        .button-group {
            margin: 20px 0;
        }
        .button-group button {
            margin: 10px;
            padding: 10px 20px;
            border: none;
            background-color: #fff;
            color: #000;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            border: 1px solid #ddd;
        }
        .button-group button:hover {
            background-color: #ddd;
        }
        .button-group button.active {
            background-color: #8A2BE2;
            color: #fff;
        }
        .sub-options {
            display: none;
            margin-top: 10px;
        }
        .sub-options button {
            display: block;
            margin: 5px 0;
            padding: 10px;
            width: 100%;
            background-color: #fff;
            color: #000;
            border: 1px solid #ddd;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }
        .sub-options button:hover {
            background-color: #ddd;
        }
        .sub-options button.active {
            background-color: #8A2BE2;
            color: #fff;
        }
        .chart-container {
            margin-top: 20px;
            position: relative;
        }
        .chart-tooltip {
            position: absolute;
            top: -12px;
            left: 0;
            font-size: 12px;
            color: black;
            background-color: rgba(230, 230, 250, 0.8);
            border: 1px solid black;
            border-radius: 3px;
            padding: 5px;
            white-space: nowrap;
        }
        .secondary-chart-container {
            margin-top: 20px;
        }
        #interval-select-container,
        #order-month-select-container,
        #month-filter-container,
        #year-filter-container,
        #store-select-container,
        #week-filter-container {
            display: none;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/" id="home-link">Home</a>
        <a href="/orders" id="orders-link">Orders</a>
        <a href="/customer" id="customer-link">Customer</a>
        <a href="/categories" id="categories-link">Categories</a>
        <a href="/products" id="products-link">Products</a>
    </nav>
    <div class="main-content">
        <h3>Order Analysis</h3>
        <div class="button-group">
            <button id="sales-figures">Sales Figures</button>
            <button id="order-activity">Order activity</button>
            <button id="revenue-profit">Revenue and Profit</button>
        </div>
        <div id="sales-figures-options" class="sub-options">
            <button id="total-sales-per-store" class="active">Total sales figures per store</button>
        </div>
        <div id="revenue-profit-options" class="sub-options">
            <button id="revenue-and-profit-per-month">Revenue and profit per month per store</button>
            <button id="average-order-value">Average order value per store</button>
            <button id="average-order-performance">Average order performance between stores</button>
        </div>
        <div id="order-activity-options" class="sub-options">
            <button id="order-activity-hour">Order activity per hour</button>
            <button id="order-activity-week">Order activity per week</button>
            <button id="order-activity-month">Order activity per month</button>
        </div>
        <div class="chart-container" id="chart-container" style="display: none;">
            <div class="chart-tooltip" id="chart-tooltip">Click on a bar for more information</div>
            <div id="interval-select-container">
                <label for="interval-select">Select Interval:</label>
                <select id="interval-select">
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                </select>
            </div>
            <div id="order-month-select-container">
                <label for="order-month-select">Select Order Month:</label>
                <select id="order-month-select">
                    <option value="all">All</option>
                </select>
            </div>
            <div id="month-filter-container">
                <label for="month-select">Select Month:</label>
                <select id="month-select">
                    <option value="all">All</option>
                </select>
            </div>
            <div id="year-filter-container">
                <label for="year-select">Select Year:</label>
                <select id="year-select">
                    <option value="all">All</option>
                </select>
            </div>
            <div id="store-select-container">
                <label for="store-select">Select Store:</label>
                <select id="store-select">
                    <option value="all">All</option>
                </select>
            </div>
            <div id="week-filter-container">
                <label for="week-select">Select Week:</label>
                <select id="week-select">
                    <option value="all">All</option>
                </select>
            </div>
            <canvas id="myChart"></canvas>
        </div>
        <div class="secondary-chart-container" id="secondary-chart-container" style="display: none;">
            <canvas id="secondaryChart"></canvas>
        </div>
    </div>
    <script>
        let chartInstance;
        let secondaryChartInstance;

        document.querySelectorAll('.button-group button').forEach(button => {
            button.addEventListener('click', () => {
                document.querySelectorAll('.button-group button').forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');
                document.querySelectorAll('.sub-options').forEach(opt => opt.style.display = 'none');
                if (chartInstance) {
                    chartInstance.destroy();
                    chartInstance = null;
                }
                if (secondaryChartInstance) {
                    secondaryChartInstance.destroy();
                    secondaryChartInstance = null;
                }
                document.getElementById('chart-container').style.display = 'none';
                document.getElementById('secondary-chart-container').style.display = 'none';
                document.getElementById('interval-select-container').style.display = 'none';
                document.getElementById('order-month-select-container').style.display = 'none';
                document.getElementById('month-filter-container').style.display = 'none';
                document.getElementById('year-filter-container').style.display = 'none';
                document.getElementById('store-select-container').style.display = 'none';
                document.getElementById('week-filter-container').style.display = 'none';

                const options = document.getElementById(button.id + '-options');
                if (options) {
                    options.style.display = 'block';
                    // Automatically click the first sub-button
                    const firstSubButton = options.querySelector('button');
                    if (firstSubButton) {
                        firstSubButton.click();
                    }
                }
            });
        });

        document.querySelectorAll('.sub-options button').forEach(button => {
            button.addEventListener('click', () => {
                document.querySelectorAll('.sub-options button').forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');
                document.getElementById('chart-container').style.display = 'block';
                document.getElementById('secondary-chart-container').style.display = 'none';
                document.getElementById('order-month-select-container').style.display = 'none';
                document.getElementById('month-filter-container').style.display = 'none';
                document.getElementById('year-filter-container').style.display = 'none';
                document.getElementById('store-select-container').style.display = 'none';
                document.getElementById('week-filter-container').style.display = 'none';

                if (button.id === 'total-sales-per-store') {
                    document.getElementById('chart-tooltip').style.display = 'block';
                    loadChartData('/total_items_sold_per_store', 'Total Items Sold', 'Total sales figures per store', null, 'bar', addChartClickHandler);
                } else {
                    document.getElementById('chart-tooltip').style.display = 'none';
                }

                if (button.id === 'revenue-and-profit-per-month') {
                    document.getElementById('order-month-select-container').style.display = 'block';
                    loadOrderMonths().then(() => {
                        const selectedMonth = document.getElementById('order-month-select').value;
                        loadChartData('/store_revenue_and_profit_per_month', 'Revenue and Profit', 'Revenue and profit per month per store', selectedMonth);
                    });
                } else if (button.id === 'average-order-value') {
                    loadChartData('/daily_average_order_value_per_store', 'Average Order Value', 'Average order value per store', null, 'line');
                } else if (button.id === 'average-order-performance') {
                    loadChartData('/daily_store_performance_benchmark', 'Average Order Performance', 'Average order performance between stores');
                } else if (button.id === 'order-activity-hour') {
                    document.getElementById('store-select-container').style.display = 'block';
                    document.getElementById('month-filter-container').style.display = 'block';
                    document.getElementById('week-filter-container').style.display = 'block';
                    Promise.all([loadStores(), loadMonths(), loadWeeks()]).then(loadOrderActivityPerHour);
                } else if (button.id === 'order-activity-week') {
                    document.getElementById('store-select-container').style.display = 'block';
                    document.getElementById('year-filter-container').style.display = 'block';
                    document.getElementById('month-filter-container').style.display = 'block';
                    Promise.all([loadStores(), loadYears(), loadMonths()]).then(loadWeeklyOrdersChart);
                } else if (button.id === 'order-activity-month') {
                    document.getElementById('store-select-container').style.display = 'block';
                    document.getElementById('year-filter-container').style.display = 'block';
                    Promise.all([loadStores(), loadYears()]).then(loadOrderActivityPerMonth);
                }
            });
        });

        document.getElementById('interval-select').addEventListener('change', () => {
            const scrollPosition = saveScrollPosition();
            if (document.getElementById('order-activity-hour').classList.contains('active')) {
                loadOrderActivityPerHour();
            }
            restoreScrollPosition(scrollPosition);
        });

        document.getElementById('order-month-select').addEventListener('change', () => {
            const scrollPosition = saveScrollPosition();
            const selectedMonth = document.getElementById('order-month-select').value;
            if (document.getElementById('revenue-and-profit-per-month').classList.contains('active')) {
                if (selectedMonth === 'all') {
                    loadChartData('/total_items_sold_per_store', 'Total Items Sold', 'Total sales figures per store');
                } else {
                    loadChartData('/store_revenue_and_profit_per_month', 'Revenue and Profit', 'Revenue and profit per month per store', selectedMonth);
                }
            }
            restoreScrollPosition(scrollPosition);
        });

        document.getElementById('year-select').addEventListener('change', () => {
            const scrollPosition = saveScrollPosition();
            const selectedYear = document.getElementById('year-select').value;
            if (document.getElementById('order-activity-month').classList.contains('active')) {
                loadOrderActivityPerMonth();
            }
            restoreScrollPosition(scrollPosition);
        });

        document.getElementById('store-select').addEventListener('change', () => {
            const scrollPosition = saveScrollPosition();
            if (document.getElementById('order-activity-hour').classList.contains('active')) {
                loadOrderActivityPerHour();
            } else if (document.getElementById('order-activity-week').classList.contains('active')) {
                loadWeeklyOrdersChart();
            } else if (document.getElementById('order-activity-month').classList.contains('active')) {
                loadOrderActivityPerMonth();
            }
            restoreScrollPosition(scrollPosition);
        });

        document.getElementById('month-select').addEventListener('change', () => {
            const scrollPosition = saveScrollPosition();
            if (document.getElementById('order-activity-hour').classList.contains('active')) {
                loadOrderActivityPerHour();
            } else if (document.getElementById('order-activity-week').classList.contains('active')) {
                loadWeeklyOrdersChart();
            }
            restoreScrollPosition(scrollPosition);
        });

        document.getElementById('week-select').addEventListener('change', () => {
            const scrollPosition = saveScrollPosition();
            if (document.getElementById('order-activity-hour').classList.contains('active')) {
                loadOrderActivityPerHour();
            }
            restoreScrollPosition(scrollPosition);
        });

        function saveScrollPosition() {
            return window.scrollY;
        }

        function restoreScrollPosition(scrollPosition) {
            window.scrollTo(0, scrollPosition);
        }

        function loadStores() {
            return fetch('/get_stores')
                .then(response => response.json())
                .then(data => {
                    const select = document.getElementById('store-select');
                    select.innerHTML = ''; // Clear existing options
                    const allOption = document.createElement('option');
                    allOption.value = 'all';
                    allOption.text = 'All';
                    select.appendChild(allOption);
                    data.stores.forEach(store => {
                        const option = document.createElement('option');
                        option.value = store.storeID;
                        option.text = store.storeID;
                        select.appendChild(option);
                    });
                })
                .catch(error => console.error('Error loading stores:', error));
        }

        function loadYears() {
            return fetch('/get_years')
                .then(response => response.json())
                .then(data => {
                    const select = document.getElementById('year-select');
                    select.innerHTML = ''; // Clear existing options
                    const allOption = document.createElement('option');
                    allOption.value = 'all';
                    allOption.text = 'All';
                    select.appendChild(allOption);
                    data.years.forEach(year => {
                        const option = document.createElement('option');
                        option.value = year.year;
                        option.text = year.year;
                        select.appendChild(option);
                    });
                })
                .catch(error => console.error('Error loading years:', error));
        }

        function loadMonths() {
            return fetch('/get_months')
                .then(response => response.json())
                .then(data => {
                    const select = document.getElementById('month-select');
                    select.innerHTML = ''; // Clear existing options
                    const allOption = document.createElement('option');
                    allOption.value = 'all';
                    allOption.text = 'All';
                    select.appendChild(allOption);
                    data.months.forEach(month => {
                        const option = document.createElement('option');
                        option.value = month.month;
                        option.text = month.month;
                        select.appendChild(option);
                    });
                })
                .catch(error => console.error('Error loading months:', error));
        }

        function loadWeeks() {
            const weeks = [1, 2, 3, 4, 5];
            const select = document.getElementById('week-select');
            select.innerHTML = ''; // Clear existing options
            const allOption = document.createElement('option');
            allOption.value = 'all';
            allOption.text = 'All';
            select.appendChild(allOption);
            weeks.forEach(week => {
                const option = document.createElement('option');
                option.value = week;
                option.text = `Week ${week}`;
                select.appendChild(option);
            });
        }

        function loadWeeklyOrdersChart() {
            const storeID = document.getElementById('store-select').value;
            const year = document.getElementById('year-select').value;
            const month = document.getElementById('month-select').value;
            const scrollPosition = saveScrollPosition();
            let url = new URL('/weekly_orders', window.location.origin);
            if (storeID && storeID !== 'all') url.searchParams.append('storeID', storeID);
            if (year && year !== 'all') url.searchParams.append('year', year);
            if (month && month !== 'all') url.searchParams.append('month', month);

            console.log("Fetching data with URL:", url.toString());

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log("Fetched data:", data);

                    const weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
                    const orderCounts = weekdays.map(day => {
                        const dayData = data.data.filter(item => item.weekday === day);
                        return dayData.reduce((sum, item) => sum + item.order_count, 0);
                    });

                    const ctx = document.getElementById('myChart').getContext('2d');
                    if (chartInstance) {
                        chartInstance.destroy();
                    }

                    chartInstance = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: weekdays,
                            datasets: [{
                                label: 'Order Count',
                                data: orderCounts,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            },
                            plugins: {
                                title: {
                                    display: true,
                                    text: 'Weekly Orders by Day'
                                },
                                tooltip: {
                                    callbacks: {
                                        label: function(context) {
                                            return context.dataset.label + ': ' + context.parsed.y;
                                        }
                                    }
                                }
                            }
                        }
                    });

                    document.getElementById('chart-container').style.display = 'block';
                    restoreScrollPosition(scrollPosition);
                })
                .catch(error => {
                    console.error("Error fetching data:", error);
                    restoreScrollPosition(scrollPosition);
                });
        }

        function loadOrderActivityPerMonth() {
            const storeID = document.getElementById('store-select').value;
            const year = document.getElementById('year-select').value;
            const scrollPosition = saveScrollPosition();
            let url = new URL('/order_activity_per_month', window.location.origin);
            if (storeID && storeID !== 'all') url.searchParams.append('storeID', storeID);
            if (year && year !== 'all') url.searchParams.append('year', year);

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    // Ensure the data format is as expected
                    if (data.data && Array.isArray(data.data)) {
                        const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                        const labels = [];
                        const orderCounts = [];

                        // Create a map to aggregate order counts by month and year
                        const orderCountMap = {};
                        data.data.forEach(item => {
                            const label = `${monthNames[item.month - 1]} ${item.year}`;
                            if (!orderCountMap[label]) {
                                orderCountMap[label] = 0;
                            }
                            orderCountMap[label] += item.order_count;
                        });

                        // Sort the labels
                        const sortedLabels = Object.keys(orderCountMap).sort((a, b) => {
                            const [monthA, yearA] = a.split(' ');
                            const [monthB, yearB] = b.split(' ');
                            return new Date(`${monthA} 1, ${yearA}`) - new Date(`${monthB} 1, ${yearB}`);
                        });

                        sortedLabels.forEach(label => {
                            labels.push(label);
                            orderCounts.push(orderCountMap[label]);
                        });

                        const ctx = document.getElementById('myChart').getContext('2d');
                        if (chartInstance) {
                            chartInstance.destroy();
                        }

                        chartInstance = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Order Count',
                                    data: orderCounts,
                                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                },
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'Order Activity Per Month'
                                    },
                                    tooltip: {
                                        callbacks: {
                                            label: function(context) {
                                                return context.dataset.label + ': ' + context.parsed.y;
                                            }
                                        }
                                    }
                                }
                            }
                        });

                        document.getElementById('chart-container').style.display = 'block';
                        restoreScrollPosition(scrollPosition);
                    } else {
                        console.error('Invalid data format received:', data);
                    }
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        function loadOrderActivityPerHour() {
            const storeID = document.getElementById('store-select').value;
            const year = document.getElementById('year-select').value;
            const month = document.getElementById('month-select').value;
            const week = document.getElementById('week-select').value;
            const scrollPosition = saveScrollPosition();
            let url = new URL('/order_activity_per_hour', window.location.origin);
            if (storeID && storeID !== 'all') url.searchParams.append('storeID', storeID);
            if (year && year !== 'all') url.searchParams.append('year', year);
            if (month && month !== 'all') url.searchParams.append('month', month);
            if (week && week !== 'all') url.searchParams.append('week', week);

            console.log("Fetching data with URL:", url.toString());

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log("Fetched order activity per hour data:", data);

                    // Ensure the data format is as expected
                    if (data.data && Array.isArray(data.data)) {
                        const labels = data.data.map(item => `${item.hour}:00`);
                        const orderCounts = data.data.map(item => item.order_count);

                        const ctx = document.getElementById('myChart').getContext('2d');
                        if (chartInstance) {
                            chartInstance.destroy();
                        }

                        chartInstance = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Order Count',
                                    data: orderCounts,
                                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                },
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'Order Activity Per Hour of Day'
                                    },
                                    tooltip: {
                                        callbacks: {
                                            label: function(context) {
                                                return context.dataset.label + ': ' + context.parsed.y;
                                            }
                                        }
                                    }
                                }
                            }
                        });

                        document.getElementById('chart-container').style.display = 'block';
                        restoreScrollPosition(scrollPosition);
                    } else {
                        console.error('Invalid data format received:', data);
                    }
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        function loadChartData(url, label, title, param = null, type = 'bar', clickHandler = null, stepSize = null, minY = 0, maxY = null) {
            const scrollPosition = saveScrollPosition();
            let queryUrl = url;
            if (param) {
                if (url.includes('/order_trends')) {
                    queryUrl += `?orderYear=${param}`;
                } else {
                    queryUrl += `?orderMonth=${param}`;
                }
            }

            fetch(queryUrl)
                .then(response => response.json())
                .then(data => {
                    let labels = [], values = [];

                    if (url === '/total_items_sold_per_store') {
                        labels = data.total_items_data.map(item => item.storeID);
                        values = data.total_items_data.map(item => item.totalItemsSold);
                    } else if (url === '/store_sales_per_month') {
                        labels = data.store_monthly_sales_data.map(item => item.storeID);
                        values = data.store_monthly_sales_data.map(item => item.totalItemsSold);
                    } else if (url === '/store_revenue_and_profit_per_month') {
                        labels = data.store_revenue_profit_data.map(item => item.storeID);
                        values = data.store_revenue_profit_data.map(item => item.totalRevenue);
                    } else if (url === '/daily_average_order_value_per_store') {
                        labels = data.data.map(item => item.storeID);
                        values = data.data.map(item => item.avgOrderValue);
                    } else if (url === '/daily_store_performance_benchmark') {
                        labels = data.data.map(item => item.storeID);
                        values = data.data.map(item => item.avgNumberOfOrders);
                    } else if (url === '/daily_order_trends') {
                        labels = data.data.map(item => item.orderDate);
                        values = data.data.map(item => item.totalOrders);
                    } else if (url === '/order_activity_over_time') {
                        labels = data.data.map(item => item.period);
                        values = data.data.map(item => item.order_count);
                    }

                    const ctx = document.getElementById('myChart').getContext('2d');
                    if (chartInstance) {
                        chartInstance.destroy();
                    }

                    chartInstance = new Chart(ctx, {
                        type: type,
                        data: {
                            labels: labels,
                            datasets: [{
                                label: label,
                                data: values,
                                backgroundColor: 'rgba(128, 0, 128, 0.2)',
                                borderColor: 'rgba(128, 0, 128, 1)',
                                borderWidth: 1,
                                fill: type === 'line' ? true : false
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAt: minY,
                                    ticks: {
                                        stepSize: stepSize,
                                        max: maxY
                                    }
                                }
                            },
                            plugins: {
                                title: {
                                    display: true,
                                    text: title
                                },
                                tooltip: {
                                    callbacks: {
                                        label: function(context) {
                                            return context.dataset.label + ': ' + context.parsed.y;
                                        }
                                    }
                                }
                            },
                            onClick: clickHandler
                        }
                    });

                    document.getElementById('chart-container').style.display = 'block';
                    restoreScrollPosition(scrollPosition);
                })
                .catch(error => {
                    console.error('Error loading chart data:', error);
                    restoreScrollPosition(scrollPosition);
                });
        }

        function addChartClickHandler(event, elements) {
            if (elements.length > 0) {
                const element = elements[0];
                const storeID = chartInstance.data.labels[element.index];
                loadSecondaryChart(storeID);
            }
        }

        function loadSecondaryChart(storeID) {
            const url = `/popular_products_by_store?storeID=${storeID}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    let labels = [];
                    let sizes = {
                        'Small': [],
                        'Medium': [],
                        'Large': [],
                        'Extra Large': []
                    };

                    data.data.forEach(item => {
                        if (!labels.includes(item.Name)) {
                            labels.push(item.Name);
                        }
                        sizes[item.size].push(item.total_items_sold_per_store);
                    });

                    const datasets = [
                        {
                            label: 'Small',
                            data: sizes['Small'],
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Medium',
                            data: sizes['Medium'],
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Large',
                            data: sizes['Large'],
                            backgroundColor: 'rgba(255, 206, 86, 0.2)',
                            borderColor: 'rgba(255, 206, 86, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Extra Large',
                            data: sizes['Extra Large'],
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }
                    ];

                    const ctx = document.getElementById('secondaryChart').getContext('2d');
                    if (secondaryChartInstance) {
                        secondaryChartInstance.destroy();
                    }

                    secondaryChartInstance = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: datasets
                        },
                        options: {
                            scales: {
                                x: {
                                    stacked: true
                                },
                                y: {
                                    stacked: true,
                                    beginAt: 0
                                }
                            },
                            plugins: {
                                title: {
                                    display: true,
                                    text: `Most Popular Products for Store ID: ${storeID}`
                                },
                                tooltip: {
                                    callbacks: {
                                        label: function(context) {
                                            return `${context.dataset.label}: ${context.parsed.y}`;
                                        }
                                    }
                                }
                            }
                        }
                    });

                    document.getElementById('secondary-chart-container').style.display = 'block';
                })
                .catch(error => console.error('Error loading secondary chart data:', error));
        }

        function loadOrderMonths() {
            return fetch('/order_month')
                .then(response => response.json())
                .then(data => {
                    const select = document.getElementById('order-month-select');
                    select.innerHTML = ''; // Clear existing options
                    const allOption = document.createElement('option');
                    allOption.value = 'all';
                    allOption.text = 'All';
                    select.appendChild(allOption);
                    data.forEach(month => {
                        const option = document.createElement('option');
                        option.value = month.orderMonth;
                        option.text = month.orderMonth;
                        select.appendChild(option);
                    });
                    if (data.length > 0) {
                        select.value = data[0].orderMonth;
                    }
                })
                .catch(error => console.error('Error loading order months:', error));
        }
    </script>
</body>
</html>
